/* src/index.css */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f7f7; 
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.header-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1rem; 
}

.header-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1rem; 
}

header img {
  height: 100px; 
}

nav {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  width: 100%; 
}

nav a {
  text-decoration: none;
  color: #333;
  padding: 0 1rem;
  font-size: 1rem;
}

main {
  padding: 1rem;
}

main h1, main h2 {
  color: #333; 
}

button {
  color: black;
  background-color: rgb(46, 202, 46);
  border: solid thin black;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

button:hover{
  background-color: rgb(41, 174, 41);
}

footer {
  background-color: #f7f7f7;
  text-align: center;
  padding: 0.5rem 0;
  width: 100%;
}

.review {
  background-color: #fff;
  border: 1px solid #dedede;
  padding: 1rem;
  border-radius: 5px;
  margin-top: 1rem;
}

.star-rating {
  color: #ffd700; 
}

/* Product Page Layout */
.product-page {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.product-item img {
  width: 200%; 
  height: auto; 
  max-width: 200px; 
  max-height: 200px; 
  
}

.product-item {
  margin-bottom: 20px;
}

.product-item button{
  background-color: rgb(39, 172, 39);
  transition: box-shadow 0.3s ease;
}

.product-item button:hover{
  background-color: rgb(24, 193, 24);
  box-shadow: 0 0 10px rgb(0, 255, 0);
}

.cart {
  width: 30%;
}

.cart-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem; 
  border-bottom: 1px solid #ccc; 
  padding-bottom: 1rem; 
}

.cart-item img {
  align-items: start;
  width: 100%; 
  max-width: 200px; 
  margin-bottom: 2px; 
}

.cart-item-description h4,
.cart-item-description p{
  align-items: center;
  width: 100%; 
  margin: 0 0 5px 0;
}

.cart-item-description button {
  background-color: crimson;
  color: papayawhip;
  transition: box-shadow 0.3s ease;
}

.cart-item-description button:hover {
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
  cursor: pointer;
}
